<h1>All Posts</h1>
  <% @posts.each do |post| %>
  
  <div class = "media">
    <div class = "media-body">
      <h4 class = "media-heading">
         <!--rails will detect the post object, parse it's id, and create the path.
         if we use link_to with the post object, it knows to look for post_path(post.id) -->
        <p><%= link_to post.title, post %></p>
      </h4>
    </div>
  </div>
 
<% end %>

