// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.social-btn{
  padding: 11px;
  font-size: 1.2em;
  font-family: Arial;
  text-align: center;
  margin: 0px;
  color: #303030;
  border: 1px solid grey;
  border-radius: 8px;
  background: #6897e2;
}